@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed-RegularItalic';
    src: url('../fonts/RobotoCondensed-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    background-color: #03070f;
}
/*General*/
a, a:hover{
    outline: none;
    text-decoration: none;
}
ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 2;
}
.container__inner{
    padding: 0 64px;
}
.title{
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-size: 36px;
    line-height: 1em;
    color: #0491e2;
    text-transform: uppercase;
}
/*Header*/
.header{
    position: relative;
    padding-top: 60px;
    background-image: url('../img/header-bg-large.png');
    background-position: center top;
    background-repeat:no-repeat;
}
.header__bg{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 0;
}
.header__top{
    text-align: center;
}
.header__logo{
    display: inline-block;
}
.header__slogan{
    max-width: 629px;
    margin: 50px auto 100px auto;
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-size: 40px;
    color: #f0f0f0;
}
/*Menu*/
.header__menu{
    position: relative;
    background-color: rgba(3,7,15,0.89);
}
.header__mobile-menu{
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 51px;
    height: 51px;
    background: url("../img/menu-mobile.png") no-repeat center center, rgba(3,7,15,0.25);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 2;
}
.header__menu-logo{
    display: none;
    width: 120px;
    margin: 0 35px;
}
.header__menu-logo img{
    max-width: 100%;
}
.header__menu-close{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 12px;
    background: url("../img/menu-close.png") no-repeat center center;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.menu__item{
    margin: 27px 0;
}
.menu__link{
    display: block;
    margin: 0 16px;
    font-family: 'RobotoCondensed-Regular', sans-serif;
    font-size: 26px;
    color: #fff;
}
.menu__link:hover,
.menu__link_active{
    color: #ff7417;
}
/*About*/
.about{
    padding: 80px 0 55px 0;
    background: #ffffff;
}
.about__quote{
    margin: 20px 0 35px 0;
    font-family: 'RobotoCondensed-RegularItalic', sans-serif;
    font-size: 24px;
    color: #000;
}
.about p{
    margin: 0 0 30px 0;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #000;
}
/*Services*/
.services{
    padding: 80px 0 10px 0;
    background: url("../img/home-services-bg.jpg") no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
}
.services__quote{
    margin: 25px 0 90px 0;
    font-family: 'RobotoCondensed-RegularItalic', sans-serif;
    font-size: 24px;
    color: #ffffff;
}
.services__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}
.services-item:nth-child(odd){
    max-width: 670px;
}
.services-item:nth-child(even){
    max-width: 480px;
}
.services-item:nth-child(1) .services-item__text{
    max-width: 470px;}
.services-item:nth-child(2) .services-item__text{
    max-width: 250px;}
.services-item:nth-child(3) .services-item__text{
    max-width: 210px;}
.services-item:nth-child(4) .services-item__text{
    max-width: 250px;}
.services-item:nth-child(5) .services-item__text{
    max-width: 390px;}
.services-item:nth-child(6) .services-item__text{
    max-width: 310px;}
.services-item:nth-child(7) .services-item__text{
    max-width: 310px;}
.services-item:nth-child(8) .services-item__text{
    max-width: 210px;}
.services-item:nth-child(9) .services-item__text{
    max-width: 250px;}
.services-item:nth-child(10) .services-item__text{
    max-width: 310px;}
.services-item:nth-child(11) .services-item__text{
    max-width: 300px;}
.services-item__icon:after{
    content: '';
    position: absolute;
    flex: 0 0 114px;
    width: 114px;
    height: 114px;
    background-color: #0488db;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.services-item__icon{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 126px;
    background-color: rgba(0,3,15,0.26);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.services-item__icon img{
    position: relative;
    z-index: 2;
}
.services-item__text{
    margin-left: 40px;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 24px;
    color: #ffffff;
}
.services-item:hover .services-item__icon:after{
    background-color: #ff5e17;
}
.services-item:hover .services-item__text{
    color: #ff5e17;
}
.services-item__more{
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.services-item__more-img{
    margin-right: 45px;
}
.services-item__more-text{
    margin-top: -5px;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 24px;
    color: #ff5e17;
}
/*Footer*/
.footer{
    padding: 50px 0 105px 0;
    background: url("../img/footer-bg.png") no-repeat center bottom, transparent;
}
.footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-menu__link{
    width: 44px;
    height: 43px;
    margin: 0 6px;
    background: url("../img/soc-sprite-all.png");
}
.footer-menu__link.vk{
    background-position: 0 0;
}
.footer-menu__link.fb{
    background-position: -60px 0;
}
.footer-menu__link.twitter{
    background-position: -118px 0;
}
.footer-menu__link.mail{
    background-position: 44px -1px;
}
.footer-menu__link.vk:hover{
    background-position: 0 -44px;
}
.footer-menu__link.fb:hover{
    background-position: -60px -44px;
}
.footer-menu__link.twitter:hover{
    background-position: -118px -44px;
}
.footer-menu__link.mail:hover{
    background-position: 44px -44px;
}
/*Breadcrumbs*/
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px 0 30px 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
}
.breadcrumbs__item:not(.breadcrumbs__item_current){
    padding-right: 18px;
    margin-right: 11px;
    color: #0491e2;
    background: url("../img/breadcrumbs-arrow.png") no-repeat right center, transparent;
}
.breadcrumbs__item:not(.breadcrumbs__item_current):hover{
    color: #ff7417;
}
.breadcrumbs__item_current{
    color: #010101;
}
/*Template*/
.template{
    padding-bottom: 55px;
    background-color: #fff;
}
.template__content{
    margin-top: 55px;
}
.template__text{
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    line-height: 1.4em;
    color: #000;
}
/*Certificates*/
.certificates{
    padding: 85px 0 80px 0;
    background-color: #fff;
}
.certificates__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.certificates-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 0 21px rgba(0,0,0,0.08);
    box-shadow: 0 0 21px rgba(0,0,0,0.08);
}
.certificates-item img{
    display: block;
    max-width: 100%;
}
/*Partners*/
.partners{
    padding: 85px 0 45px 0;
    background-color: #fff;
}
.partners__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.partners-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-height: 120px;
    margin-bottom: 50px;
}
.partners-item__logo{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners-item__link{
    margin-top: auto;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #0491e2;
}
/*Services Page*/
.p-services{
    background-color: #fff;
}
.p-services .services__quote,
.p-services .services-item__text{
    color: #000;
}
/*Contacts*/
.contacts{
    padding: 80px 0 100px 0;
    background-color: #fff;
}
.contacts__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 65px;
}
.contacts__info{
    width: 100%;
    max-width: 340px;
}
.contacts-b{
    margin-bottom: 38px;
    font-family: 'Roboto-Regular', sans-serif;
}
.contacts-b__title{
    font-size: 14px;
    color: #686868;
}
.contacts-b__text{
    margin-top: 5px;
    font-size: 18px;
    color: #000;
}
.contacts-b__text span{
    font-family: 'Roboto-Bold', sans-serif;
}
.contacts-b__text a{
    color: #0491e2;
}
.contacts-b__download{
    display: inline-block;
    padding-left: 19px;
    font-size: 16px;
    color: #0491e2;
    background: url("../img/contacts-arrow.png") no-repeat left center, transparent;
}
.contacts__map{
    width: 100%;
    max-width: 670px;
}